body {
    background-image:url(image/frame.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    text-align: center;
    padding-top: 3%;
    margin: auto;
    margin-bottom: 0;
}

.font {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7%;
}

img {
    display:block;
    max-width: 45%;
    max-height: auto;
    margin:auto;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

P {
    font-size: 20px;
}

label, select {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.book {
    font-style: italic;
}

.novel, .story, .culture {
    margin: 7%;
    margin-top: 5%;
    line-height: 1.5;
}

.movies {
    margin: 7%;
    margin-top: 0;
    line-height: 1.5;
}

.story img {
    max-height: 15%;
    width: auto;
}

table {
    border-collapse: collapse;
    border: 2px solid #381924;
    font-family: "Beiruti", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

caption {
    caption-side: top;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }

thead, tbody {
    background-color: #f9e8d0;
}

th {
    border: 1px solid #381924;
    padding: 8px 10px;
  }

img.role {
    border-radius: 30%;
    max-width: 25%;
    height: auto;
}

/* Style for each list */
.tv_series, .animations {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

/* Style for each list item */
.tv_series li, .animations li {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 280px; 
    text-align: center; 
}

/* Style for images */
.tv_series img, .animations img {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
}

/* Style for figcaption */
.tv_series figcaption, .animations figcaption {
    margin-top: 10px; 
}

/* Style for links */
.tv_series a, .films a, .animations a, .games a {
    text-decoration: none;
    color: #c1651a; 
    font-size: 14px; 
}

#black_myth {
    display: block; 
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

a {
    color: #ebb10d;
    text-decoration: none;
}

a:hover {
    color: #fed71a;
}

a:visited {
    color: #815f25;
}

footer {
    padding: 10px;
    text-align: center;
}

/* button style */
.back-home-button, .go-to-next-page {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #4d4030;
    background-color: #f9e8d0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 30px; 
    cursor: pointer;
}

#black_myth {
    border: none;
}